body {
  position: relative;
  
}

.container {
    margin: 0 auto;
    width: 100%;
    
  }
.img-item {
    width: 100%;
}

.home {
  margin: 0 auto;
  height: 100vh;
  position: absolute;
  top: 0;
  color: rgb(233, 217, 217);
  text-align: center;

}