body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}

.header-container {
    margin-right: 5rem;
}

.home {
    margin: 0 auto;
    height: 100vh;
    position: relative;
    color: rgb(233, 217, 217);
    text-align: center;
    background-image: url('../images/telescope4.png');
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
}

.head-main {
    display: flex;
    padding-bottom: 5rem;
}

/************************************** HEADER *****************************************/
/***************************************************************************************/

#home-h1 {
    margin: 0;
    padding: 2rem 0 0 3rem;
    width: 30vw;
    background: -webkit-linear-gradient(0, rgba(230, 191, 21, 0.8), rgba(245, 208, 208, 0.8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    text-align: left;
}

#home-h3 {
    margin: 0;
    padding: 3rem 0 0 3rem;
    width: 30vw;
    font-size: 2rem;
    text-align: left;
    background: -webkit-linear-gradient(0, rgba(44, 167, 224, 0.89), rgba(245, 208, 208, 0.8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#socrates {
    padding-left: 13rem;
}

/*************************************** MAIN ******************************************/
/***************************************************************************************/

.main-container {
    margin: 3rem;
    margin-right: 6rem;
    width: 43.75rem;
    height: 25rem;
    background-color: rgba(235,235,235,0.4);
}

#main, #signUp {
    padding: 1rem 0 0 0;
    width: 100%;
    font-size: 1.2rem;
    
}

#main h1 {
    color: #bcb5ff;
}

#main-text {
    padding: 1rem 2rem;
}

.btn {
    margin: 2rem;
    padding: 1rem;
    width: 10rem;
    border-radius: 2rem;
    border: 1px solid #6789aa;
    color: #6789aa;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


/**************************************** FOOTER ***************************************/
/***************************************************************************************/

.footer-container {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 5rem;
}

footer {   
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 15rem;
    background-color: rgba(235,235,235,0.4);
}

.icons {
    position: relative;
    right: -7rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}

.socialIcon {
    margin: 0;
    padding: 0.5rem;
    width: 2.5rem;
}

#author {
    margin: 0.4rem 5rem 0.4rem 0;    
    float: right;
    display: grid;
    justify-content: flex-start;
    align-content: center;
    width: 100%;
    text-align: left;
    font-size: 0.8rem;
    
}

#author span {
    padding: 0.3rem;
    display: block;
}

#author a {
    color: #f0ccaa;
    font-weight: 600;
    text-decoration: none;
}

/********************************* РЕЄСТРАЦІЯ / SIGN UP ********************************/
/***************************************************************************************/

#signUp {
    width: 90%;
    margin: 0 auto;
    color: #bcb5ff;
    font-size: 1.2rem;
}

#signUp label {
    margin: 1.5rem 2rem;
    display: block;
    text-align: left;
    position: relative;
}

#signUp input[type='text'], #signUp input[type='password'] {
    margin: 0rem 2rem 0 0;
    position: absolute;
    right: 0;
    width: 15rem;
    border: none;
    border-bottom: 2px solid #9698ccb4;
    line-height: 1.7rem;
    color: #bcb5ff;
    font-size: 1.2rem;
    background: none;
}


#signUp input[type="submit"] {
    margin: 1rem auto;
    padding: 1rem;
}

/***************************************** LOGIN ***************************************/
/***************************************************************************************/

.loginForm {
    margin: 4.8rem 3rem;
    font-size: 1.2rem;
    color: #bcb5ff;   
}

#enterLogin, #enterPassword {
    margin: 3rem;
    position: relative;
    text-align: left;
    display: block;
}

.loginForm input {
    position: absolute;
    right: 0;
    border: none;
    border-bottom: 2px solid #9698ccb4;
    line-height: 1.8rem;
    width: 15rem;
    color: #bcb5ff;
    background: none;
    font-size: 1.2rem;
}

.loginForm .btn {
    margin-top: 4rem;
}

/**************************** ВИБІР ТЕСТУ / TEST SET  **********************************/
/***************************************************************************************/

.testSet {
    margin: 0;
    min-height: 100vh;
    background: url('../images/testSetBack.jpg');
}

.testSet > div {
    padding-left: 18vw;
}

.testSet h1 {
    margin: 0;
    padding: 2rem;
    text-align: center;
    color: #807baa;
}

.testSet h2 {
    margin: 0;
    padding: 1rem 0;
    text-align: center;
    color: #807baa;
}

.testContainer {
    margin: 0;
    padding: 2rem 2rem 4rem 0;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    justify-content: center;
    /* align-content: space-between; */
    grid-gap: 2rem;
}

.testCover {
    width: 18.75rem;
    height: 18.75rem;
    border: 2px solid #4e4a6e;
    background-color: rgba(172, 84, 84, 0.623);   
}

.testCover:nth-child(1) {
    max-width: 18.75rem;
    max-height: 18.75rem;
    background-image: url('../images/TestCovers/english.png');
    background-size: 100% 100%;
}

.testCover:nth-child(2) {
    max-width: 18.75rem;
    max-height: 18.75rem;
    background-image: url('../images/TestCovers/geography.png');
    background-size: 100% 100%;
}

.testCover:nth-child(3) {
    max-width: 18.75rem;
    max-height: 18.75rem;
    background-image: url('../images/TestCovers/history.png');
    background-size: 100% 100%;
}

.testCover:nth-child(4) {
    max-width: 18.75rem;
    max-height: 18.75rem;
    background-image: url('../images/TestCovers/medicine.png');
    background-size: 100% 100%;
}

.testCover:nth-child(5) {
    max-width: 18.75rem;
    max-height: 18.75rem;
    background-image: url('../images/TestCovers/programing.png');
    background-size: 100% 100%;
}

.testCover:nth-child(6) {
    max-width: 18.75rem;
    max-height: 18.75rem;
    background-image: url('../images/TestCovers/libra.png');
    background-size: 100% 100%;
}

.testTitle {
    margin: 0 auto;
    padding-top: 7rem;
    display: block;
    color: #bab6db;
    font-size: 2rem;
    text-align: center;
}

/**************************************** MENU *****************************************/
/***************************************************************************************/

#menu {
    margin: 0;
    height: 100vh;
    width: 18vw;
    background-color: #445a708a;
    position: fixed;
}

#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu li {
    margin: 0;
    padding: 1rem 0 1rem 1rem;
    border-bottom: 1px solid #445a708a;
    color: #bab6db;
    font-size: 1.5rem;
}