.sign-up {
  width: 90%;
  margin: 0.5rem auto 0;
  color: #bcb5ff;
  font-size: 1.2rem;
}

.sign-up__fields {
  position: relative;
  top: 0.5rem;
}

.sign-up__buttons {
  display: flex;
  justify-content: center;
}