.main, .sign-up {
  padding: 0;
  width: 100%;
  font-size: 1.2rem;    
}

.main__heading {
  margin: 0 auto;
  padding: 2rem 0 0 0;
  color: #afaae7;
  text-align: center;
}

.main__text {
  margin: 0;
  padding: 2rem 2rem 0rem;
  line-height: 2rem;
}

.main__buttons {
  display: flex;
  justify-content: center;
  position: relative;
  top: 2.6rem;
}

@media(max-width: 1166px) {
  .main__buttons {
    top: 0.6rem;
  }
}
